body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}

.login-form-grid {
  /*max-width: 450px;*/
}

.user-type-grid {
  height: 100px;
}

.user-type-content {
  height: inherit;
}
